@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/RobotoRegular.woff2") format("woff2");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/RobotoBold.woff2") format("woff2");
}

:root {
  --very-dark-blue: #004360;
  --yellow: #faf350;
  --white: #fbfbfb;
  --black: #333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

body > * + * {
  margin-top: 5rem;
}

:focus {
  outline: 0.3rem solid;
  outline-offset: 0.3rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

svg path {
  fill: currentColor;
}

h2,
h3 {
  line-height: 1.2;
}

h1 {
  line-height: 1;
  font-size: 3rem;
  max-width: 30ch;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.95rem;
}

ul {
  list-style: none;
}

p {
  max-width: 60ch;
}

p + p {
  margin-top: 1rem;
}

a {
  color: inherit;
}

[href="#main"] {
  display: inline-block;
  position: fixed;
  top: 3rem;
  left: 0;
  transform: translateX(-200%);
  z-index: 200;
  background-color: var(--white);
  color: var(--very-dark-blue);
  padding: 1em 2em;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (prefers-reduced-motion: no-preference) {
  [href="#main"] {
    transition: transform 300ms ease;
  }
}

[href="#main"]:focus {
  outline-color: var(--white);
  transform: translate(0);
}

[tabindex="-1"]:focus {
  outline: none;
}

.container {
  max-width: 73.125rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--column-width, 18rem), 100%), 1fr)
  );
  gap: var(--space, 1.4rem);
}

.button {
  display: inline-block;
  padding: 1rem;
  border: 0;
  text-decoration-color: transparent;
  font-weight: 700;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.button:focus {
  outline-color: var(--black);
}

.header {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.header__list {
  display: flex;
  margin: -0.5rem;
  flex-wrap: wrap;
}

.header__list li {
  margin: 0.5rem;
}

.header__link {
  color: var(--yellow);
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.header__home {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.header__nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.main {
  color: var(--black);
}

.main__sub-title {
  margin-bottom: 1rem;
}

.main__container > * + * {
  margin-top: 3rem;
}

.news__item > * + * {
  margin-top: 0.8rem;
}

.news__item {
  border: 0.03rem solid;
  padding: 1rem;
}

.news__thumbnail {
  width: 100%;
}

.links__card {
  padding: 1.2rem;
  border: 0.06rem solid;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.links__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.links__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  background-color: var(--very-dark-blue);
  border-radius: 50%;
}

.footer {
  background-color: var(--very-dark-blue);
  color: var(--white);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer :focus {
  background-color: var(--white);
  outline-color: var(--white);
  color: var(--very-dark-blue);
}

.footer__container > * + * {
  margin-top: 2rem;
}

.footer__title {
  padding-bottom: 0.5rem;
  border-bottom: 0.06rem solid var(--yellow);
}

.footer__title + * {
  margin-top: 1rem;
}

.footer__list li {
  margin-top: 0.5rem;
}

.footer__copyright {
  max-width: unset;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 0.1rem solid;
}

.footer-nav {
  --column-width: 20rem;
  --space: 2rem;
  max-width: 56rem;
}

.footer-nav__list {
  margin-top: 1rem;
}

.footer-nav__list li {
  margin-top: 0.5rem;
}
